{% extends "auctions/layout.html" %}

<!-- Create Developer of the page-->
<!-- Make a form(Post)-->
<!-- 
    #Title
    #Description
    #Start Bid
    #OPtional - Image URl
    #Um ou mais usuário tem várias listagens -->
    {% block body %}
    <form action="{% url 'createListing' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input autofocus class="form-control" type="text" name="title" placeholder="Title">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="description" placeholder="Description">
        </div>
        <div class="form-group">
            <input class="form-control" type="number" step="0.01" name="startBid" placeholder="Start Bid">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="image_url" placeholder="Image Url - Optional">
        </div>
        <input class="btn btn-primary" type="submit" value="Submit">
    </form>
    {% endblock %}